<!-- module3
     delete.html
     Created by Mauro J. Pappaterra on 22 of October 2017. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Metadata-->
        <title>Pancake Flipper</title>
        <meta name="Description goes here" content="">
        <meta name="Mauro José Pappaterra" content="tags go here">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../static/img/favicon.png">

    </head>
    <body>
        <!-- Your code starts here -->
        <h1> Pancake Flipper </h1>
        <h2> A Python WebApp created with Django</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam</p>

        <img src= "../static/img/pancakes.png" width="500px">

        <h2>About Google Code Jam</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>


        <img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100">

        <h2>The Pancake Flipper</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <form>
            <p>Enter a row: <input type="text" id="row"></p>
            <p>Enter k: <input type="text" id="k"></p>
            <button type="submit" id="button"> Flip! </button>
            <!-- <a href="/xxoxxoxxx3">TRY ME</a> -->
        </form>

        <img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100">

        <h2>About Us</h2>

        <img src="../static/img/photo.jpg" width="200">
        <p>Mauro José Pappaterra sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <img src="../static/img/photo.jpg" width="200">
        <p>It amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <img src="../static/img/photo.jpg" width="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <img src="../static/img/photo.jpg" width="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>


        <img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100"><img src="../static/img/pancakes.png" width="100">
        <!-- Your code ends here -->

        <!-- External Scripts -->

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Scripts -->
        <script src="../static/js/script.js" type="text/javascript"></script>

    </body>
</html>